body {
  background-image: url('../Assets/squiggles.png');
  background-color: $gray-100;

  header {
    background-color: theme-color("primary");
    padding: 1rem;
    color: $white;
    margin-bottom: $grid-gutter-width;
    box-shadow: 0 5px 5px $gray-500;
    justify-content: space-between;
  }

  main.container-fluid {
    background: $white;
    border: 0 solid $card-border-color;
    border-left: $card-border-width;
    border-right: $card-border-width;

    .game-element{
      cursor: pointer;
    }

    div.card {
      transition: all .15s ease-in-out;

      &.player-selected {
        border-color: $player-color;
        background-color: lighten($player-color, 45%) !important;
        box-shadow: 0 0 3px 3px lighten($player-color, 35%);
      }

      &.computer-selected {
        border-color: $computer-color;
        background-color: lighten($computer-color, 45%) !important;
        box-shadow: 0 0 3px 3px lighten($computer-color, 35%);
      }

      &.player-selected.computer-selected {
        border-color: $combined-color;
        background-color: lighten($combined-color, 35%) !important;
        box-shadow: 0 0 3px 3px lighten($combined-color, 35%);
      }
    }
    h1{
      font-size: x-large;
    }
    h2 {
      font-size: 1.5rem !important;
    }

    article.info-panels {
      .player-color{
        color: $player-color;
      }
      .computer-color{
        color: $computer-color;
      }
      .draw-color{
        color: $combined-color;
      }
      p {
        font-weight: bold;

        span {
          font-weight: normal;
        }
      }
    }
  }
}