html, body {
  min-width: 280px;
  height: 100%;
  overflow: hidden;
}

main.container-fluid{
  max-width: 1200px;
  height: 100%;
  overflow-y: auto;
}

section.game-element-container{
  .card{
    margin-bottom: $grid-gutter-width;
    div.winning-animation{
      position: absolute;
      left: 0;
      right: 0;
      top:0;
      bottom: 0;
      display: none;
      z-index: 10;
      > img{
        margin-left: 25%;
        width: 50%;
        min-width: 90px;
      }
      @media only screen and (max-width: 576px) {
        > img {
          width: 40%;
          min-width: 60px;
        }
      }
    }

    .game-element{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      position: relative;
      overflow: hidden;
      > img{
        width: 30%;
        min-width: 65px;
      }
      @media only screen and (max-width: 576px) {
        > img {
          width: 20%;
          min-width: 45px;
        }
      }
      figcaption{
        padding-top: 0.3rem;
        font-size: larger;
        font-weight: bold;
      }
    }
  }
}

#winningModal{
  .modal-body{
    display: flex;
    justify-content: center;
    img{
      width: 80%;
    }
  }
}